/*Slider*/
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*Slick*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

header
	position relative
	z-index 99
img
	max-width 100%
.top-black
	background-color: #000
	color #fff
	padding .5em 0
	font-family 'Lato',sans-serif;
	a
		color: rgba(255, 255, 255, 0.8);
		font-weight: 100;
		font-size: .9em;
	.login-link
		word-spacing: 2px
	.login-link i
		font-size 1.2em
		color #fff
	.car-top-icon
		margin-left 2em
	.social
		font-size .85em
		
		a
			background-color: #fff;
			font-size: 1em;
			padding: .1em 0;
			display: inline-block;
			width: 18px;
			height: 18px;
			vertical-align: middle;
			text-align: center;
			border-radius: 50%;
			margin: 0 .2em;
			i 
				color: #000;
				line-height: 1.6em;
.logo
	position relative
	z-index: 999
h5.seguir-comprando
	margin-top: -2.5em;
	text-align: right
	a
		color #000
.nav
	padding 1.3em 0 .2em
	background-color #fff
	box-shadow: 0px 5px 40px 3px rgba(0, 0, 0, 0.32);
	.navigation
		font-family 'Ubuntu Condensed', sans-serif
		text-transform: uppercase;
		ul
			list-style: none
			padding 0
			margin-top .5em
			li
				float left
				margin-left 2em
				a
					color #8a8989
					font-size 1.3em
					font-weight 100
					position relative
					line-height 1.3em
					padding: .2em 0 .5em;
					display inline-block
				a:hover
					text-decoration none
				a:after
					content ""
					position absolute
					bottom 0
					left 50%
					width 0%
					border 1px solid #f0d80f 
					transition-duration 0.5s
					opacity 0
				a:hover:after
					width 50%
					left 25%
					opacity 1
			li > .hover  
				transition-duration 0.5s
				opacity 0
			li:hover > .hover
				opacity 1
		.hover
			position absolute
			left 0
			top 3em
			width 100%
			padding-top: .75em;
			transition-duration 0.5s
			img 
				margin-top 5em
			.back
				background-color: #fff
				padding-bottom 1em 
				padding-top 1em 
				border: 1px solid #ededed;
				box-shadow: 0px 4px 24px -6px rgba(0,0,0,0.75);
			.box
				width: 25%;
				float: left;
				padding: 0 1%;
				h4
					margin .5em 0
			ul 
				padding 0
				li 
					list-style: none;
					margin-left: 0;
					font-size: .7em;
					display: block;
					width: 100%;
					padding-bottom .3em
					a 
						transition-duration 0.2s
					a:hover 
						color #000
						text-decoration none
					a:after
						left 0
					a:hover:after
						left 0
						width 40%
.unslider li 
	position relative
.text
	position absolute
	width 320px 
	top 28%
	left 48%
	font-family 'Ubuntu',sans-serif
	font-size 2em 
	line-height 1em
	color #000
	
	strong
		
		font-weight 900
		font-size 1.3em
		color #000
		line-height 1em
	.btn-slider
		border 2px solid #000
		color #000
		font-weight 100
		font-size .47em
		display inline-block 
		width 120px
		text-align center
		padding .3em 0
		transition-duration 0.5s
		line-height 1.3em
	.btn-slider:hover
		text-decoration none
		background-color: #000
		color #fff
.color-yellow
	color #f0d80f
.unslider
{
	overflow visible
	position:relative;
	-webkit-box-shadow: 0 -1px 0px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 -1px 0px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0 -1px 0px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.unslider:before, .unslider:after
{
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 5px 5px rgba(162, 162, 162, 0.47);
	-moz-box-shadow: 0 5px 5px rgba(162, 162, 162, 0.47);
	box-shadow: 0 5px 5px rgba(162, 162, 162, 0.47);
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	-moz-border-radius: 100px/10px;
	border-radius: 100px/10px;
}
.unslider:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}					


.slider
	position: relative
	z-index 999
	max-width 1270px;
	margin 0 auto;
	display block
	
	ul
		padding 0
		list-style none
		margin 0
		li
			img 
				display block
				margin 0 auto
h1,h2,h3
	font-family 'Ubuntu', sans-serif
h2
	font-size 2.55em
	text-align center
	font-weight 100
	color #000
	letter-spacing: 2px
.selector,
.selector button {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.selector button {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #428bca;
	border-radius: 50%;
	border: 0;
	color: white;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	transition: all .1s;
}

.selector button:hover { background: #3071a9; }

.selector button:focus { outline: none; }

.selector {
	
}

.selector ul {
	
	list-style: none;
	padding: 0;
	margin: 0;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	margin-top: 15em;
	height: 10px;
}

.selector li {
	position: absolute;
	width: 0;
	height: 25%;
	margin: 0 50%;
	-webkit-transform: rotate(-360deg);
	transition: all 0.8s ease-in-out;
}

.selector li input { display: none; }

.selector li input + label {
	position: absolute;
	left: 50%;
	bottom: 140%;
	width: 0;
	height: 0;
	line-height: 1px;
	margin-left: 0;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
	box-shadow: none;
	transition: all .8s ease-in-out,color .1s,background .1s;
}


.selector li input:checked + label {
	background: #5cb85c;
	color: white;
}
.arrows-lineas
	position absolute
	top 23em
	z-index 99
.arrows-lineas.prev
	left 10em
.arrows-lineas.next
	right 10em
.desc
	position: absolute;
	text-align: center;
	width: 180px;
	left: 51%;
	margin-left: -90px;
	margin-top: 2.8em;
	font-style italic
	color #525252
	article
		position absolute
		width 100%
		top -3em
		display none
	article:first-child
		display block
	h3
		font-family 'Ubuntu Condensed', sans-serif
		font-style normal
		color #000
		font-size 1.8em
		font-weight 100
		margin-bottom 0
	p 
		font-family 'Lato', sans-serif
		margin 0 0 .5em
	a.ver 
		background-color: #f0d80f
		color #000
		font-size .8em
		font-style normal
		
		padding .35em 1.5em
.selector.open li input + label {
	width: 168px;
	height: 40px;
	line-height: 120px;
	margin-left: -230px;
}
.selector.open li.active_line
	z-index 999999999
.selector.open li.active_line input + label
	img 
		transform: scale(1.4);
.lines
	height 710px
	overflow hidden
	position relative
	z-index: 999
.atributes > .container:after, .featured-products > .container:after, .atributes > .container:before, .featured-products > .container:before
	content: "";
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../img/shadow-up.png");
	position: absolute;
	top: -6px;
	width: 100%;
	height: 25px;
	background-size: initial;
	left: 0;
.atributes > .container:after
	background-image url('../img/shadow-down.png')
	background-position: 50% 50%
	top 94%
.atributes
	background-color #323232
	text-align center
	padding .5em 0 3em 
	overflow hidden
	position relative
	.container
		max-width 750px
	h2
		color #f0d80f
	h3
		color #d3be15
		max-width 120px
		display block
		margin 0 auto
		font-weight 100
	a
		color #fff
	img
		display block 
		margin 0 auto
.featured-products > .container:before
	top -8px
.featured-products
	padding 0 0 3em
	position relative
	.container
		max-width 750px
	.img
		img 
			width 100%
			max-height 200px
			border: 1px solid #cacaca;
	a
		color #333
		font-family 'Lato', sans-serif
	h3
		text-transform: uppercase;
		margin 1em 0 0
	p 
		margin 0
		font-family 'Lato', sans-serif
		font-weight 100
		font-style italic
		font-size .93em
	h4
		font-weight 100
		margin .4em 0 0
		color #000
.catalogo
	.container
		max-width 960px
	ul
		padding 0
		list-style none
		margin 0
		li
			float left 
			width 50%
			a
				display block 
				img
					width 100%
					height auto
.color-yellow
	color #f0d80f !important
.box-form-login
	display: none;
	opacity: 0
	padding: 1.8em;
	color: #b8b8b8;
	text-align: center;
	position: absolute;
	background-color: #3a3a3a;
	z-index: 999;
	width: 370px;
	font-size: .85em;
	right: 0
	input[type="email"],input[type="password"]
		display: block;
		width: 100%;
		padding: .65em;
		border: 0;
		margin-bottom: 1.7em;
	input[type="checkbox"]
		line-height: 0.5em;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	button 
		background-color: #f0d80f;
		padding: .75em 3em;
		font-family: 'Condensed Ubuntu',sans-serif;
		font-weight: 100;
		border: 0;
		display: block;
		margin: 1.8em auto;
		font-size: 1.1em;
		color: #000;
	a.recover
		color #f0d80f
		font-weight 900
	a.obten
		padding 0 0 .25em
		font-weight 900
		position relative
		font-size 1.1em
		margin-left 1em
		text-decoration none
	a.obten:after
		content ""
		position absolute
		bottom 0
		left 0
		width 100%
		height 1px 
		background-color: #f0d80f
.box-form-login {
	border: 1px solid #4e4e4e
}
.box-form-login:after, .box-form-login:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.box-form-login:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #3a3a3a;
	border-width: 10px;
	margin-left: -10px;
}
.box-form-login:before {
	border-color: rgba(196, 227, 247, 0);
	border-bottom-color: #c4e3f7;
	border-width: 11px;
	margin-left: -11px;
}
.box-login
	display inline-block
	position relative
.box-login:hover .box-form-login
	display block
	opacity 1
.box-form-search
	display block
	margin-bottom 1.4em
	overflow hidden
	input, button
		float left
		border 0
		height 37px
		background-color: transparent
		outline: none;
		border: 2px solid rgba(189, 189, 189, 0.5);
	input
		width 80%
		padding-left: .8em;
		font-family 'Lato', sans-serif
		border-right 0
	button
		width 20%
		border-left 0
footer
	background-color: #101010
	margin-top 3em
	a 
		color #fff
	.newsletter
		background-color: #f0d80f
		.box-newsletter
			position relative
		p
			margin-top: 0;
			margin-bottom: 0
		div.wpcf7-validation-errors
			display none !important
		input.wpcf7-not-valid
			background-color: #f37359;
			border: 1px solid red;
		span.wpcf7-not-valid-tip
			display none
		div.wpcf7-response-output
			width: 100%;
			float: left;
			position: absolute;
			margin: 0;
			background-color: #f0d80f;
			padding: .5em;
			text-align: center;
			font-style: italic;
		.container
			max-width 860px
		.discount
			font-weight 400
			font-size 1.5em
		padding .8em 0
		
	h3
		color #000
		font-family 'Ubuntu Condensed', sans-serif
		text-transform: uppercase;
		font-weight 100
		font-size 1.5em
		margin 0
	.foot
		padding 4em 0
		color #f9f9f9
		.container
			max-width 960px
		p
			font-size .85em
			line-height 2em
			
		ul 
			font-size .85em
			margin-bottom 1em
			li
				margin-bottom .7em
				letter-spacing 1px
		.social
			margin-bottom .7em
			a
				display inline-block
				background-color: #f0d80f
				text-align center
				border-radius 50%
				font-size 1.1em
				vertical-align middle
				margin-right .5em
				transition-duration 0.2s
				i
					color #000
					width 22px
			a:hover 
				font-size: 1em;
				transform: scale(1.4);
		.contact li
			padding-left 2.5em
			background-size 17px
			margin-bottom 1.5em
			background-position 0 50%
	.foot h3 
		color #f9f9f9
		font-size: 1.1em;
		margin-bottom 1em
		letter-spacing 2px
	.copy
		background-color: #515252
		color #fff
		text-align center
		padding .5em 0
		p
			margin 0
			a
				font-weight 600
	.box-newsletter
		margin-top .5em
	.box-newsletter form input[type="email"]
		width 240px
	.box-newsletter form, .news-form form 
		input
			border 0
			float left
			outline none
			padding: .4em .8em;
			margin-right: .75em;
		input[type="submit"]
			background-color: #282828
			color #f0d80f
		::-webkit-input-placeholder 
			color: #000;
		:-moz-placeholder  
			color: #000;  
		::-moz-placeholder  
			color: #000;  
		:-ms-input-placeholder   
			color: #000;  
	.news-form 
		form 
			::-webkit-input-placeholder 
				font-size .75em
				color #666
			:-moz-placeholder  
				font-size .75em  
				color #666
			::-moz-placeholder  
				font-size .75em  
				color #666
			:-ms-input-placeholder   
				font-size .75em 
				color #666
		form input[type="email"]
			background-color: #dddddd
			
	.medios
		a
			display inline-block
			vertical-align top
			margin-right .2em
	ul
		padding 0 
		margin 0 
		list-style-type: none
ul.contact
	padding 0
	margin 0
	list-style  none
	li
		background-repeat no-repeat
		background-position 0 0
		background-size 25px
		padding-left: 2.5em;
		background-size: 17px;
		margin-bottom: 1.5em;
		background-position: 0 50%;
	li.marker
		background-image: url('../img/marker.png')
	li.phone
		background-image: url('../img/phone.png')
	li.email
		background-image: url('../img/email.png')
.featured-products .box, .atributes .box 
	padding 0 8px
	margin-bottom 2em	
.box-logo-black
	margin-bottom 2em	
div.clear
	clear both
.woocommerce-LoopProduct-link img
	border 1px solid #d2d2d2
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	padding 0 8px	
.tienda
	padding 0em 0 3em
	position relative 
	z-index 999
	.featured-products
		padding-bottom 0
		min-height 450px
.featured-products.loading:after, .filter.loading:after, .view-product .box.info.loading:after
	content ""
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background: url("../img/loading.gif") no-repeat 50% 20em rgba(255,255,255,0.5);
	z-index: 999;
	display: block;
.view-product .box.info.loading:after
	background: url("../img/loading.gif") no-repeat 50% 50% rgba(255,255,255,0.5);
.filter.loading:after
	background rgba(255,255,255,0.5)
.row
	margin 0 -8px
.blanco
	background-color: #fff !important
.blanco
	border 1px solid rgba(189, 189, 189, 0.5)
.negro
	background-color: #000 !important
.gris
	background-color: #636363 !important
.plomo-plata
	background-color: #8A9597 !important
.rojo
	background-color: #ff4141 !important
.azul
	background-color: #176dd8 !important
.azul-marino
	background-color: rgb(14, 11, 63) !important
.amarillo
	background-color: #ffe400 !important
.verde
	background-color: #64d49e !important
.celeste
	background-color: #6ec3ff !important
.rosado
	background-color: #ff7070 !important
.morado
	background-color: #7174ff !important
.aqua 
	background-color: #00FFFF !important
.arena 
	background-color: #E2BB84 !important
.azulino 
	background-color: #0033FF !important
.crema 
	background-color: #F8E8CF !important
.dorado 
	background-color: #D3AF37 !important
.marron 
	background-color: #855235 !important
.naranja 
	background-color: #F15C00 !important
.plata 
	background-color: #9FA9B5 !important
.plomo 
	background-color: #A9A9A9 !important
.plomo-oscuro
	background-color: #55595C !important
.turquesa 
	background-color: #3194A7 !important

.filter
	border 2px solid  rgba(189, 189, 189, 0.5);
	padding 1em 1.5em
	margin-bottom 1.5em
	.show-all
		font-family 'Lato', sans-serif
		font-size .85em
		color #2079ff
		margin-top .9em
		text-decoration underline
		font-weight 100
	h2
		font-family 'Ubuntu Condensed', sans-serif
		font-size 1.85em
		color #333
		margin 0
		padding 0
		text-align left
		border-bottom 1px solid rgba(189, 189, 189, 0.5)
		padding-bottom .4em
	h3
		margin-bottom 0
		font-weight 100
		font-family 'Lato', sans-serif
		font-size 1.1em
		margin-bottom .2em
	ul
		padding 0
		list-style none
		padding-bottom 1em
		border-bottom 1px solid rgba(189, 189, 189, 0.5)
		margin 0
		li
			padding-left 1em
			font-family 'Lato', sans-serif
			position relative
			a
				font-weight 100
				font-style italic
				color #717171
		
			
		li:before
			content ""
			position absolute
			height: 7px;
			width: 7px;
			left 0
			top:  7px;
			border-radius: 50%;
			background-color: #fff;
			border: 1px solid #fff;
			box-shadow: 0px 0px 0px 1px #717171;
		li.active:before
			background-color: #4e4e4e;
		li:hover:before
			background-color: #4e4e4e;
	ul.color
		width 200px
		
		li 
			font-size 0
			display inline-block
			width 20px 
			height 20px 
			position relative
			margin 2px
			a
				width 100% 
				height 100%
				border-radius  50%
				display inline-block
				background-color: #fff
				border 1px solid rgba(189, 189, 189, 0.1)
				line-height 20px
			
		li:before
			display none
		li a:before
			opacity 0
			content ""
			position absolute
			height 26px
			width 26px
			top: -3px;
			left -3px
			background-color: transparent
			border 1px solid rgba(0, 0, 0, 0.33)
			border-radius 50%
			transition-duration 0.3s
		li a:hover:before
			opacity 1
		li.active a:before
			opacity 1
		li.active:before
			display none
.help
	border: 2px solid rgba(189,189,189,0.5);
	padding: 1.2em 1.8em;
	font-size .8em	
	color #666
	background-color: #f9f9f9
	h3
		font-family 'Ubuntu Condensed', sans-serif
		font-weight: 100;
		margin-top: .2em;
		font-size: 2em;
		margin-bottom: .2em;
		
	p
		margin-bottom 2em
		line-height 1.8em
.tienda > .container
	max-width 1024px
	.img 
		border 0 !important
		height: 200px;
		background: rgba(0,0,0,.05);

.notify-add-to-car
	font-family 'Lato', sans-serif
	font-weight 100
	font-size .9em
	position absolute
	width 380px
	left 50%
	margin-left -160px
	top: 0
	border: 1px solid #cccbcb;
	z-index 999
	padding 2em
	background-color: #000
	color #808080
	padding 2em 4em 3em
	display none
	a 
		color #fff
	.btn-close
		color: #f0d80f;
		position absolute
		right: .7em;
		top: .4em;
		font-size 1.35em
	.btn-close:hover
		color #000
	h3
		font-family 'Ubuntu Condensed', sans-serif
		color #fff
		font-weight 100
		margin-top 0
		font-size 1.8em
		margin-bottom .4em
	p
		margin 0 0 .3em
		font-size .9em
		line-height 1.5em
	img
		border 1px solid #333
		width 120px
	h4
		font-weight 100
		margin-bottom: 0;
		margin-top: 0;
		color: #fff;
		text-transform: uppercase;
	.sku
		font-weight: bold;
		font-size: .85em;
		color: #fff;
	h5
		color #fff 
		font-family 'Ubuntu Condensed', sans-serif
		margin-bottom 0
		font-size: 1.1em;
		font-weight: 100;
		margin: 0;
	a.ver-carrito
		font-family 'Ubuntu Condensed', sans-serif
		background-color: #f0d80f
		color #000
		display block
		padding: .5em;
		text-align: center;
		margin-top: .5em;
.resumen
	background-color: #2e2e2e
	color #fff
	font-family 'Ubuntu Condensed',sans-serif
	padding 1em 0
	font-weight 100
	overflow hidden
	margin-bottom 2.3em
	.quantity
		margin .3em 2.1em 0 
	.box-subtotal
		float left 
		width 100%
		border-top: 1px solid #464646
		border-bottom 1px solid #464646
		margin 1em 0 0
	h4
		color #f0d80f
		margin 0
		float left
		font-weight 100
		font-size 1.3em
		padding 0 1.4em
	h5
		font-weight 100
		font-size .95em
		float left
		margin 0 0 .8em
	.gratis-envio
		color #f80202
		line-height 1em
		margin-bottom 0
	.gratis-envio.text 
		text-decoration line-through
		position: relative;
		float: right;
		width: auto;
		left: 0;
		top: 0;
		font-size: .95em;
	.box-subtotal
		padding 1.5em 2em
	.total
		padding .7em 1.8em 
		margin 0
		font-weight 100
		width 100%
		font-size 1.3em
		font-family 'Ubuntu Condensed',sans-serif
		border-bottom 1px solid #464646
		strong
			float right
			font-weight 100
			font-size 1em
	.btn-continue
		background-color: #f0d80f
		width 50%
		text-align center
		color #333
		word-spacing 1em
		padding .5em
		margin 1em 23% .5em
.pagination
	font-style italic
	text-align: center;
	margin: 3em 0;
strong.search-excerpt
	background-color: yellow
.featured-products p.not-found
	text-align center
	font-weight 400
	color #000
	font-size 1em
	margin-top: 15em;
.carro
	position: relative;
	z-index 999
	.coupon
		padding: 2em;
		background-color: #f9f9f9;
		border: 2px solid rgba(189,189,189,0.5);
		h3
			font-family: 'Ubuntu Condensed',sans-serif;
			font-weight: 100;
			margin-top 0	
			font-size 1.5em
		p
			font-size .85em
		input[type="text"]
			border 0
			background-color: #FFF
			padding .5em .5em
			border 1px solid #cacaca
			color #000
			font-weight 400
			display block 
			width 100%
		input[type="submit"]
			background-color: #000
			color #fff
			display block 
			width 100%
			padding .5em
			text-transform: uppercase;
		label
			font-weight 400
	.woocommerce-error, .woocommerce-info, .woocommerce-message
		margin: 0em 0 0em!important;
	h1
		font-family 'Ubuntu', sans-serif
		font-weight 100
		font-size 2.5em
		float left 
		margin: 1em 0 .5em;
		line-height: 1em;
		small
			font-size: 16px;
			vertical-align: middle;
			margin-left: 1.5em;
	.quantity
		font-size .95em
		
	article
		border-top 1px solid #cacaca
		font-family 'Lato', sans-serif
		font-weight 100
		font-size .8em
		padding 1em 0
		float left
		width 100%
		img
			width 110px
			border 1px solid #cacaca
			
		h3
			font-weight 100
			margin .4em 0 .2em
			font-size 1.35em
		p
			margin 0 0 .5em
		.color 
			width 15px 
			height 15px
			border-radius 50%
			display inline-block
			margin 0 .3em
		.talla 
			background-color: #696969
			color #fff
			padding .1em .5em
			font-style italic
			margin 0 .3em
		.edit-product-cart:hover, .delete-product-cart:hover
			background-color: #333
			color #fff
		.edit-product-cart, .delete-product-cart
			display inline-block
			padding .2em .5em
			border 1px solid #cacaca
			color #000
			font-size .95em
			margin 3em .5em 0 0
			text-decoration none
			background-color: #FFF
			font-weight: 400;
		.edit-product-cart
			
			padding: .25em 1.5em
			margin-top: 0;
			
		input[type="number"]
			border: 0;
			outline: none;
			width: 45px;
			padding-left: .5em;
			margin-bottom: 2.5em;
			height: 24px;
			text-align: left;
			display: block;
			margin: 0 auto;
			background: url("../img/arrows-quantity.png") no-repeat 100% 0 #ededed;
			font-size: 12px;
			line-height: 25px;
			background-size: initial;
		h4
			margin 0
			font-size 1.45em
			text-align center
	.head-cart
		text-align center
		margin-top: -1em
		p
			margin 0 0 .5em
			font-size .85em
			color: #5f5f5f;
			font-weight: 400;
			font-family: 'Lato',sans-serif;
	.help
		margin-top 3em
		h3
			font-family 'Ubuntu Condensed',sans-serif
			font-weight 100
			color #333
			margin-bottom .7em
		.medios
			margin-bottom 1.2em
			word-spacing:  .7em
.cuenta
	font-family 'Lato', sans-serif
	font-weight 100
	position relative
	z-index:  999
	h2
		text-align left
		margin-bottom .5em
		border-bottom 1px solid #cacaca
	h4
		font-family 'Ubuntu Condensed',sans-serif
		font-weight 100
		margin .35em 0 .5em
		font-size 1.25em
	p 
		margin 0 0 1em
		color #000
	input
		width 100%
		margin-bottom 1em 
		font-size .85em
		padding 0.4em .7em
		outline none
		border 1px solid #cacaca
	.legal
		font-size .75em
		margin 2em 0
		p
			color #cacaca
	input[type="checkbox"]
		width initial
		float left
		margin 0
	label
		font-size .85em
		line-height 0
		float left
		margin-top .5em
	.btn-siguiente
		color #fff 
		background-color: #2e2e2e
		border 0
		padding .7em 4em 
		display block 
		max-width 190px
		margin 1.5em auto 0
		font-weight 400
	.login-form
		padding .7em 1.5em
		background-color: #ebebeb
		margin-bottom 1.5em
		a.btn-iniciar
			background-color: #f0d80f
			color #333
			width 100%
			display block
			padding .5em
			font-family 'Ubuntu Condensed',sans-serif
			text-align center
.tarjeta
	.container
		max-width 580px
		label
			margin-bottom 1em
			width 100%
			span 
				vertical-align top
				word-spacing 1em
				display inline-block
				input 
					display inline-block
					margin 0 .5em 0 0
					float none
					width initial
					vertical-align: middle;
	.help
		margin-top 1.2em
		font-weight 900
		color #333
		.edit-dir
			background-color: #fff
			color #000
			border 1px solid #cacaca
			padding .2em .7em
	.btn-finalizar
		margin-top 1em
		font-family 'Ubuntu Condensed', sans-serif
		color #fff 
		background-color: #2e2e2e
		padding .85em .5em
		display block
		text-align center
.container
	max-width 960px
.menu-filter
	li.active a
		color red
.no-bg.featured-products > .container:before, .no-bg.featured-products > .container:after
	background transparent
.no-bg.featured-products
	padding-bottom 0
nav.woocommerce-breadcrumb
	font-family 'Lato', sans-serif
	font-weight 400
.info
	padding .7em 2em
	font-family 'Lato', sans-serif
	font-weight 400
	position relative
	.sku
		font-size .8em
	.price
		font-size 1.5em
		font-weight 100
		padding-bottom .3em
		border-bottom 1px solid #e6e5e5
	p
		font-weight 100
		font-style italic
		font-size .9em
	h1
		font-family 'Lato', sans-serif
		font-weight 400
		font-size: 2.25em;
		margin-bottom 0
		line-height 1.2em
		text-transform: uppercase;
	.filter
		padding 1em 0 0 0
		border 0
		margin-bottom: .8em
		ul
			border 0 !important
		ul.tallas 
			float left
		ul.tallas li
			padding 0
			display inline-block
			margin-right 3px
			a
				background-color: #ededed
				font-weight bold 
				font-style italic
				width 20px
				display block
				text-align center
				text-decoration none
		ul.tallas li.active a
			background-color: #696969
			color #fff
		ul li a:hover
			background-color: #696969
			color #fff
		ul li:before
			display none
		.guia
			float left
			color #333
			font-size .75em
			padding .2em .7em
			border 1px solid #bfbebe
			margin-left 5px
		form
			input, button
				display block 
				border 0
				outline none
				background-color: #ededed
				color #696969
				font-family 'Lato',sans-serif
				font-weight 100
			input 
				width 100px
				text-align left
				margin-bottom 0
				padding-left 1em 
				background: url('../img/arrows-quantity.png') no-repeat 100% 0 #ededed
			button
				color #fff
				background-color: #2e2e2e
				padding .7em 2em
				font-family 'Ubuntu Condensed', sans-serif
				font-weight 100
			.validate 
				margin-bottom: 1.5em;
				display: block;
				padding: 1em 0;
				font-size: .88em;
ul.share-product
	padding 0
	margin 0
	list-style-type none
	position: absolute;
	top: 25%;
	left: -1em;
	li
		margin-bottom .8em
	a
		font-size: 1.35em;
		line-height: 2em;
		width: 35px;
		display: block;
		height: 35px;
		border-radius: 50%;
		text-align: center;
		color #fff 
	a.fb
		background-color: #306199
	a.tw
		background-color: #26c4f1
	a.gplus
		background-color: #d64432		
.view-product
	padding-top 2.5em
	position relative
	z-index 999
	.info.box 
		height 405px
		article 
			min-height 40px
	.container
		border-bottom 1px solid #ededed
		padding-bottom 3em
		
	nav.woocommerce-breadcrumb, a.back
		margin-left 2.7em
		font-size .85em
	a.back
		color #000
		font-family 'Lato', sans-serif
		font-weight bold 
		
	
	.box
		float left
		width 45%

	.slick-slide
		cursor pointer				
					
	.slick-slide img
		margin 0 auto
	.slick-slide, .box.info
		border 1px solid #bdbdbd
	.slider-full
		max-width 350px 
		display block 
		margin 0 auto 10px
	.slider-thumb
		max-width 280px
		display block 
		margin 0 auto
		.slick-slide
			margin 0 4px
			outline none
.box-breadcrumbs
	padding-top 2em
	position: relative;
	z-index: 999
			
.pormayor
	.container
		max-width 650px
	p
		color #333
	h2
		text-align center
	.box
		background-color: #ebebeb
		padding .8em 1.5em 2em
		h4
			margin-top 0
		textarea
			border 1px solid #cacaca
			width 100%
			height 150px
		.btn-solicitar-cita
			color: #fff;
			background-color: #2e2e2e;
			border: 0;
			padding: .7em 2em;
			display: block;
			text-align center
			max-width: 220px;
			margin: 1.5em auto 0;
			font-weight: 400;
			font-family 'Ubuntu Condensed'
.gracias
	text-align center
	padding: 3em 0;
	h4
		font-family 'Ubuntu Condensed'
		font-weight 100
		font-size 1.1em
	.fb, .tw 
		color #fff
		padding .5em 1em
		font-size 1.3em
		word-spacing .5em
		font-family 'Ubuntu Condensed'
		margin 0 .3em 0
	.fb
		background-color: #306199
	.tw
		background-color: #26c4f1
.catalogos
	position relative
	z-index 999
	padding-top 2em
	article
		float left
		width 33.3333%
		position relative
		
		img
			width 100%
		a
			position absolute
			width 100%
			height 100%
			opacity 0
			background url('../img/transparencia2.png') no-repeat 0 0 
			transition-duration 0.5s
			background-size: cover;
			top 0
			left 0
		a:hover
			opacity 1
	article.main-catalogo
		width 66.6666%
		a 
			background url('../img/transparencia.png') no-repeat 0 0 
			background-size: cover;
.blog-section
	padding-top 1.5em
	position: relative;
	z-index: 999
	.share-product
		left -3em
		top 50%
	.container
		position relative
	.categories
		padding 0
		margin 0 0 1.5em
		list-style none
		font-family 'Lato', sans-serif
		text-transform: uppercase;
		
		li 
			display inline-block
			a
				color #fff
				background-color: #000
				padding .6em 1em
				display block
				margin 0 1em 0 0
	.search-blog
		input, button
			border 0
			background-color: #FFF
			border 1px solid #cacaca
			padding .5em
			outline none
			font-family 'Lato', sans-serif
			font-weight 100
		input 
			border-right 0
		button
			border-left 0
			padding .5em 1em
	.box
		margin-bottom 1.3em
	article
		position relative
		h2
			color #fff
			position absolute
			bottom .5em
			left 0
			width 94%
			margin 0
			font-size 1.35em
			z-index 99
			text-align left
			line-height 1em
			padding .5em 3%
			small
				font-size .8em
				font-style italic
				display block
				font-weight 100
		a
			position absolute
			bottom 0
			left 0
			width 100%
			height 100%
			color #fff
			z-index 10
	article:after
		content ""
		position absolute
		background url('../img/sombra.png') repeat-x 0 0
		bottom 0
		left 0
		width 100%
		height 125px
		z-index: 9
	article:hover:after
		background url('../img/trans-blog.png') no-repeat 0 0
		height 100%
	.box article:hover:after
		background url('../img/hover-post.png') no-repeat 0 0
img.alignright
	float right
	margin .5em 0 .5em 1em
.featured-products
	.img
		display block
		position relative
		
	.img:after
		content: "";
		position: absolute;
		border: 2px solid rgba(0,0,0,0);
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition-duration: .6s;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.56);
	.img:hover:after
		opacity 1
		border 2px solid rgba(0, 0, 0, .9)
.others
	margin-top 2em
	h2
		line-height .9em
		text-align left
		margin-bottom .3em
	.featured-products h2
		margin-bottom 1.2em
	.featured-products
		img 
			width 100%
.blog-interna
	font-family 'Lato',sans-serif
	padding-top 2.5em
	.share-product
		left -3em
		top 20%
	.blog-section h2
		margin 2.1em 0 .5em
		font-size 2.2em
		line-height .8em
		text-align left
		width 100%
	.blog-section .box h2
		font-size .9em
		line-height 1em
		bottom .3em
		margin-bottom 0
		small
			font-size .7em
			margin-top .35em
	.blog-section .box
		article:hover:after
			background-size cover
	.container
		position relative
		text-align justify
	h1
		small
			display block 
			font-size .5em
			font-weight 100
.contacto
	color #333
	font-weight 400
	position: relative;
	z-index 999
	.btn-enviar-contact
		display inline-block
	textarea
		outline: none;
		border: 1px solid #cacaca;
		width 100%
		height 150px
	article 
		margin-top 9em
		padding-left 2em
	label
		margin-top 1em
		margin-bottom 1.5em
		display inline-block
		vertical-align middle
		line-height 1em
	input[type="checkbox"]
		display inline-block
		vertical-align top
		margin-right 1em
	button.btn-enviar-contact
		background-color #000
		color #fff
		border 0
		padding .4em 2em
	ul.contact
		
		li.marker
			background-image: url('../img/marker-black.png')
		li.phone
			background-image: url('../img/telefono-black.png')
		li.email
			background-image: url('../img/arroba-black.png')
	.gracias
		text-align left
		a
			margin-bottom .5em
			display inline-block
			width 130px
.validate 
	color red
.temas
	font-family 'Lato', sans-serif
	font-weight 400
	padding-top 3em
	text-align justify
	position: relative;
	z-index: 999
	
	article
		padding-left 1.5em
	aside
		background-color: #f9f9f9
		padding 1em 1.2em 1em
		ul
			list-style none
			padding 0
			
			a
				color #333
				display block
				padding .3em 0
	h1, h2, h3
		font-family 'Ubuntu Condensed', sans-serif
		font-weight 100
		line-height 1em
		border 0
	h1
		font-size 2.5em
	h3
		font-size 1.5em
	ul 
		padding-left 1.2em
.registro
	.container
		max-width 700px
@media (min-width: 768px)	
	div.hidden-desktop
		display none
@media (min-width: 1300px)		
	.slider .container
		width: 1300px;
@media (max-width: 992px)	
	.featured-products .box, .atributes .box 
		margin-bottom 2em
		text-align center
	.slider .container
		padding 0
	.logo
		display block 
		margin 0 auto
		text-align center
	.nav .navigation
		text-align center
		float: none !important;
	.nav .navigation ul li
		float none
		display inline-block
		margin: 0 .5em;
		font-size: .8em;
	body
		overflow-x hidden
	footer .foot .contact li
		padding-left 0
	.selector li
		margin: 0 49%;
	.selector.open li input + label
		margin-left: -60px;
		width: 114px
	.arrows-lineas
		top 40em
	.arrows-lineas.next
		right 45%
	.arrows-lineas.prev 
		left 45%
	footer .foot .contact li
		padding-left: 0;
		padding-top: 2.5em;
		background-position 50% 0
	footer .foot
		text-align center
	footer .news-form form input[type="email"]
		display inline-block
		float none
@media (max-width: 768px)
	footer
		font-size .8em
		text-align center
	footer .news-form form input[type="email"]
		float none
	.box-form-login
		width: 360px;
		right: -5%;
	.atributes, .lines , .featured-products
		font-size .8em
		h2
			margin 2em 0
	.featured-products .box, .atributes .box
		font-size 1.1em
		margin-bottom 3em
	.lines
		height 550px
	footer .newsletter
		font-size .9em
	footer .box-newsletter
		margin-top .25em
	footer .box-newsletter form input[type="email"], footer .box-newsletter form input[type="submit"]
		padding .5em
		font-size 1.15em
	footer
		.foot
			font-size 1.2em
	.medios
		margin-bottom 1em
@media (max-width: 480px)
	.top-black
		font-size: .8em;
		.social span 
			display none
	.box-form-login
		width: 300px;
		right: -5%;
	.slider ul li img
		min-height: 150px
	.arrows-lineas.next
		right 40%
	.arrows-lineas.prev 
		left 40%
	.selector li
		margin 0 45%
	.catalogo ul li
		min-width 300px
		float none 
		display block 
		width 100%
		margin 0 auto 2em
	footer .box-newsletter
		float none !important
		display block 
		margin 1em auto .5em
		text-align center
	footer .box-newsletter form input[type="email"]
		width 200px
	footer .box-newsletter form input[type="submit"]
		width 80px
		font-size: .9em;
		padding: .8em;
	footer .box-newsletter form input[type="email"], footer .box-newsletter form input[type="submit"]
		float none
		display inline-block
		margin-right 0
		vertical-align top
@media (max-width: 375px)
	.box-form-login
		width: 280px;
		right: -55%;
	.box-form-login:after, .box-form-login:before
		left 60%
	
	